*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(/pexels-matteus-silva-de-oliveira-7495329.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-family: tahoma;
    color: #26313c;
}
ol,
ul{
    list-style: none;
}
img{
    max-width: 100%;
    height: auto;
}
a:hove{
    text-decoration: none;
}
ul{
    margin: 0;
    padding: 0;
}
.header{
    position: relative;
    transition: all .7s;
    z-index: 9;
}
.header .wrap{
    width: 1140px;
    max-width: 100%;
    margin: auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}
.header .logo{
    margin: 0;
    padding: 16px 0;
}
.header .logo h3{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: .7rem;
    color: #fff;
}
.header .logo a{
    text-decoration: none;
}
.header .menu ul{
    display: flex;
}
.header .menu a{
    font-size: 1.2rem;
    color: #fff;
    padding: 12px;
    display: block;
    text-transform: uppercase;
}
.header .menu a:hover{
    color: deepskyblue;
}
.header .sidemenu-toggle{
    position: absolute;
    width: 40px;
    padding: 6px;
    top: 23px;
    right: 40px;
}
.header .sidemenu-toggle > span{
    display: block;
    background-color: #fff;
    height: 2px;
}
.header .sidemenu-toggle > span:nth-child(2){
    margin: 4px 0 4px auto;
    width: 75%;
    transition: .3s all;
}
.header .sidemenu-toggle > span:nth-child(3){
    margin-left: auto;
    width: 50%;
    transition: .6s all;
}
.header .sidemenu-toggle:hover > span:nth-child(2),
.header .sidemenu-toggle:hover > span:nth-child(3){
    width: 100%;
}
.header .sidemenu{
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(42, 44, 46, .27);
    box-shadow: 0 8px 32px 0 rgba(11, 11, 11, .37);
    /* filter: blur(4px); //TODO: Need to fix blur for FF */
    backdrop-filter: blur(34px);
    border: 1px solid rgba(255, 255, 255, .18);
    width: 53%;
    height: 100vh;
    z-index: 999;
    padding: 4rem;
    color: #fff;
    transform: translate3d(100%,0,0);
    transition: transform .5s ease-in-out;
    overflow: hidden;
}
.header .sidemenu.active{
    transform: translate3d(0,0,0);
}
.header .sidemenu .close{
    height: 30px;
    width: 30px;
    display: block;
    position: absolute;
    right: 20px;
    top: 24px;
}
.header .sidemenu .close::before,
.header .sidemenu .close::after{
    content: '';
    position: absolute;
    top: 0;
    left: 13px;
    height: 28px;
    width: 2px;
    background: #fff;
}
.header .sidemenu .close::before{
    transform: rotate(45deg);
}
.header .sidemenu .close::after{
    transform: rotate(-45deg);
}
.header .sidemenu nav ul{
    padding-top: 30px;
}
.header .sidemenu nav li{
    padding: 15px 0;
}
.header .sidemenu nav a{
    font-size: 1.3rem;
    color: #fff;
    text-transform: uppercase;
}
.header footer{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
